<!-- app.component.html -->
<app-header></app-header>
<div class="main-container">
  <app-sidebar></app-sidebar>
  <div class="content-container">
    <div id="first-container">
      <div id="first-container-box">
        <!-- <input type="text" [(ngModel)]="searchText" placeholder="search"> -->
        <div id="infomartion-container">
          <h1> Welcome to the FarmVile website. </h1>
          <p> Here you can learn everything about Farming and Animals.</p>
          <p> Please use the menu on the left to see all our pages and informations.</p>
        </div>

      </div>
    </div>
    <div id="second-container">
        <h1 id="infomartion-container">If you have any questions please feel free to join our discord.</h1>
    </div>
  </div>
</div>
