<div class="modal-body">
  <div class="modal" id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="data.animals">{{ data.animals.name }} Details</h2>
        <h2 *ngIf="data.farms">{{ data.farms.name }} Details</h2>
      </div>
      <div class="modal-body">
        <div *ngIf="data.animals" class="animals-row">
          <div class="animal-container">
            <div class="animal-details">
              <h2>Name: {{ data.animals.name }}</h2>
              <p>Type: {{ data.animals.type }}</p>
              <p>
                Birthday: {{ data.animals.birthDate | date : "yyyy/MM/dd" }}
              </p>
              <p *ngIf="data.animals.deathDate">
                Deathday: {{ data.animals.deathDate | date : "yyyy/MM/dd" }}
              </p>
              <p>Status: {{ data.animals.status }}</p>
              <p>Description: {{ data.animals.description }}</p>
            </div>
            <div class="image">
              <img [src]="data.animals.pictureUrl" alt="animal.name" />
            </div>
          </div>
        </div>
        <div *ngIf="data.farms" class="animals-row">
          <div class="animal-container">
            <div
              
              class="animal-details"
            >
              <h2>Name: {{ data.farms.name }}</h2>
              <p>Location: {{ data.farms.location }}</p>
              <p>
                Construction Date:
                {{ data.farms.constructionDate | date : "yyyy/MM/dd" }}
              </p>
              <p>History: {{ data.farms.history }}</p>
              Animals: <a *ngFor="let animals of data.farms.animals">{{ animals.name }}  </a>
            </div>
            <div class="image">
              <img [src]="data.farms.pictureUrl" alt="farms.name" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
